*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Inter", sans-serif;
    background: #fff;

}

/* common style */
.common-btn {
    background-color: blue;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
     width:100%;

}

header {
    background-color: white;
    width: 100%;
}

nav {

     font-family: "Inter", sans-serif;
    
    width: 88%;

    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: auto;
    padding: 20px 0;

}

nav img{
    height:48px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:#5b5b5b;
    font-size:18px;
    font-weight:500;
}

nav ul li a:hover{
    color:#2457ff;
}

.hero{
    height: 700px ;
    background-image: url("./banner.jpg");
    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.hero-content{

    width: 900px;
    margin: 0 auto;

}

.hero-content h1{

    font-size:72px;

    font-weight:800;

    color:white;

    line-height: 1.2;

    margin-bottom:20px;

    

}

.hero-content p{

    width: 700px;
    margin: 0 auto;


    color:white;

    font-size: 20px;

    line-height: 36px;

    margin-bottom:50px;

}

/* speakers section */

.speakers{
    width: 90%;
    margin: 100px auto;

}

.speakers h2{
    text-align: center;

    font-size: 55px;
    font-weight: 800;
    margin-bottom: 60px;
}

.speaker-container{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.card{

    border:1px solid #e5e5e5;

    border-radius:10px;

    overflow:hidden;

    background:white;

}
.card img{

    width:100%;

    height:320px;

    object-fit:cover;

    display:block;

}

.card-content{

    padding:20px;

}


.card-content h5{

    color:#2563eb;

    font-size:12px;

    font-weight:700;

    margin-bottom:12px;

}


.card-content h3{

    font-size:30px;

    margin-bottom:12px;

}


.card-content p{

    color:#666;

    font-size:18px;

}


/* Pricing Section */

.pricing{

    width:100%;

    margin:120px auto;



}

.pricing h2{

    text-align:center;

    font-size:56px;

    font-weight:800;

    margin-bottom:15px;

}

.pricing-subtitle{

    text-align:center;

    color:#777;

    font-size:20px;

    margin-bottom:60px;

}

.pricing-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

    max-width: 1200px;
    margin: 0 auto;

}

.price-card{

    border:1px solid #e5e5e5;

    border-radius:12px;

    padding:30px;

    background:#fff;

}

.pro-card{

    background:#101c2d;

    color:white;

}


.price-card h5{

    color:#8a8a8a;

    font-size:14px;

    margin-bottom:10px;

}

.pro-card h5{

    color:#3f82ff;

}

.price-card h1{

    font-size:60px;

    margin-bottom:5px;

}

.price-card span{

    color:#777;

    display:block;

    margin-bottom:25px;

}

.pro-card span{

    color:#d2d2d2;

}
.price-card hr{

    border:none;

    border-top:1px solid #e5e5e5;

    margin-bottom:25px;

}

.pro-card hr{

    border-top:1px solid #2b3d55;

}

.price-card ul{

    display:block;

    margin-bottom:35px;

    padding-left:20px;

}

.price-card ul li{

    margin-bottom:16px;

    color:#555;

}

.pro-card ul li{

    color:white;

}
.outline-btn{

    width:100%;

    padding:15px;

    border:2px solid #2b63ff;

    background:white;

    color:#2b63ff;

    border-radius:8px;

    font-weight:700;

    cursor:pointer;

}


.dark-outline{

    border:2px solid #333;

    color:#333;

}

/* FAQ Section */

.faq{

    width:90%;
    margin:120px auto;

}

.faq h2{

    text-align:center;
    font-size:52px;
    font-weight:800;
    margin-bottom:15px;

}

.faq-subtitle{

    text-align:center;
    color:#666;
    font-size:20px;
    margin-bottom:60px;

}

.faq-container{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;

}

.faq-box{

    border:1px solid #e5e5e5;
    border-radius:12px;
    padding:30px;
    background:white;
    transition:0.3s;

}

.faq-box:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.faq-box h3{

    color:#2457ff;
    font-size:24px;
    margin-bottom:15px;

}

.faq-box p{

    color:#666;
    font-size:18px;
    line-height:30px;

}